<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGmail" />
        <binding name="BasicHttpBinding_IHotmail" />
        <binding name="BasicHttpBinding_IYahoo" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51881/Gmail.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGmail" contract="GService.IGmail"
        name="BasicHttpBinding_IGmail" />
      <endpoint address="http://localhost:51880/Hotmail.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IHotmail" contract="HService.IHotmail"
        name="BasicHttpBinding_IHotmail" />
      <endpoint address="http://localhost:51883/Yahoo.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IYahoo" contract="YService.IYahoo"
        name="BasicHttpBinding_IYahoo" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
