<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegratedEmail" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51879/IntegratedEmail.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegratedEmail"
                contract="IntegratedEmailService.IIntegratedEmail" name="BasicHttpBinding_IIntegratedEmail" />
        </client>
    </system.serviceModel>
</configuration>